workflow-chat-monitor.json
{"name":"Chat Monitor - AI Live Stream","nodes":[{"id":"c0000001-0000-0000-0000-000000000001","name":"Poll Every 45 Seconds","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1400,300],"parameters":{"rule":{"interval":[{"field":"seconds","secondsInterval":45}]}}},{"id":"c0000001-0000-0000-0000-000000000002","name":"Read Stream State","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1160,300],"parameters":{"jsCode":"const fs = require('fs');\n\nlet state = {};\ntry {\n  state = JSON.parse(fs.readFileSync('/home/node/.n8n/music-stream/state.json', 'utf8'));\n} catch(e) {\n  state = { isActive: false };\n}\n\nlet mood = {};\ntry {\n  mood = JSON.parse(fs.readFileSync('/home/node/.n8n/music-stream/mood.json', 'utf8'));\n} catch(e) {\n  mood = { mood: 'chill electronic', genre: 'lofi', energy: 'medium' };\n}\n\nreturn [{\n  json: {\n    isActive: state.isActive || false,\n    liveChatId: state.liveChatId || null,\n    nextPageToken: state.nextPageToken || null,\n    currentMood: JSON.stringify(mood),\n    broadcastId: state.broadcastId || null\n  }\n}];"}},{"id":"c0000001-0000-0000-0000-000000000003","name":"IF Stream Active","type":"n8n-nodes-base.if","typeVersion":2,"position":[-920,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":""},"conditions":[{"id":"cond-stream-active","leftValue":"={{ $json.isActive }}","rightValue":"","operator":{"type":"boolean","operation":"true"}},{"id":"cond-has-chat-id","leftValue":"={{ $json.liveChatId }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty"}}],"combinator":"and"},"options":{}}},{"id":"c0000001-0000-0000-0000-000000000004","name":"YouTube - Get Chat Messages","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-680,200],"continueOnFail":true,"parameters":{"method":"GET","url":"=https://www.googleapis.com/youtube/v3/liveChat/messages?liveChatId={{ $json.liveChatId }}&part=snippet,authorDetails&maxResults=50{{ $json.nextPageToken ? '&pageToken=' + $json.nextPageToken : '' }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleOAuth2Api","options":{"timeout":15000}}},{"id":"c0000001-0000-0000-0000-000000000005","name":"Save Page Token & Filter","type":"n8n-nodes-base.code","typeVersion":2,"position":[-440,200],"parameters":{"jsCode":"const fs = require('fs');\nconst response = $input.first().json;\n\ntry {\n  const statePath = '/home/node/.n8n/music-stream/state.json';\n  const tmpPath = statePath + '.tmp';\n  const state = JSON.parse(fs.readFileSync(statePath, 'utf8'));\n  state.nextPageToken = response.nextPageToken || state.nextPageToken;\n  fs.writeFileSync(tmpPath, JSON.stringify(state, null, 2));\n  fs.renameSync(tmpPath, statePath);\n} catch(e) {}\n\nconst items = response.items || [];\nconst messages = items\n  .map(item => ({\n    author: item.authorDetails?.displayName || 'Unknown',\n    message: item.snippet?.displayMessage || '',\n    time: item.snippet?.publishedAt || ''\n  }))\n  .filter(m => m.message.trim().length > 1)\n  .slice(-20);\n\nconst formattedMessages = messages\n  .map(m => `${m.author}: ${m.message}`)\n  .join('\\n');\n\nconst currentMood = $node['Read Stream State'].json.currentMood;\n\nreturn [{\n  json: {\n    messageCount: messages.length,\n    hasMessages: messages.length > 0,\n    formattedMessages,\n    currentMood,\n    chatInput: `Current mood: ${currentMood}\\n\\nRecent YouTube live chat messages:\\n${formattedMessages}\\n\\nBased on these chat messages, what mood and genre should the next AI-generated song have? Return ONLY valid JSON.`\n  }\n}];"}},{"id":"c0000001-0000-0000-0000-000000000006","name":"IF Has Messages","type":"n8n-nodes-base.if","typeVersion":2,"position":[-200,200],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":""},"conditions":[{"id":"cond-has-messages","leftValue":"={{ $json.hasMessages }}","rightValue":"","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}}},{"id":"c0000001-0000-0000-0000-000000000007","name":"Analyze Mood with Claude","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[40,100],"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","messages":{"messageValues":[{"type":"SystemMessagePromptTemplate","message":"You analyze YouTube live chat messages for an AI music live stream channel.\nYour job is to extract the overall mood and genre preference from viewer messages.\n\nReturn ONLY valid JSON with this exact structure:\n{\"mood\": \"descriptive mood phrase\", \"genre\": \"music genre\", \"energy\": \"low|medium|high\", \"tempo\": 90, \"description\": \"brief description for the music generator\"}\n\nExamples:\n- If viewers say 'play some jazz' -> {\"mood\": \"smooth and warm\", \"genre\": \"jazz\", \"energy\": \"low\", \"tempo\": 80, \"description\": \"Smooth jazz with warm piano and soft saxophone\"}\n- If viewers say 'more energy!' -> increase the energy level and tempo\n- If viewers say 'chill vibes' -> {\"mood\": \"relaxed and dreamy\", \"genre\": \"lofi\", \"energy\": \"low\", \"tempo\": 75, \"description\": \"Dreamy lofi beats with gentle piano\"}\n\nIf messages don't express any clear music preference, return the current mood unchanged.\nNever include anything outside the JSON object in your response."}]}}},{"id":"c0000001-0000-0000-0000-000000000008","name":"AWS Bedrock Claude","type":"@n8n/n8n-nodes-langchain.lmChatAwsBedrock","typeVersion":1.1,"position":[60,320],"parameters":{"modelSource":"onDemand","model":"anthropic.claude-3-5-sonnet-20241022-v1:0","options":{"temperature":0.7,"maxTokensToSample":1024}}},{"id":"c0000001-0000-0000-0000-000000000009","name":"Update Mood File","type":"n8n-nodes-base.code","typeVersion":2,"position":[280,100],"parameters":{"jsCode":"const fs = require('fs');\n\nconst llmResponse = $input.first().json;\nconst responseText = llmResponse.text || llmResponse.output || JSON.stringify(llmResponse);\n\nlet newMood;\ntry {\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    newMood = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found in response');\n  }\n} catch(e) {\n  try {\n    newMood = JSON.parse(fs.readFileSync('/home/node/.n8n/music-stream/mood.json', 'utf8'));\n  } catch(e2) {\n    newMood = { mood: 'chill electronic', genre: 'lofi', energy: 'medium', tempo: 90, description: 'Relaxing lofi beats' };\n  }\n}\n\nconst validMood = {\n  mood: newMood.mood || 'chill electronic',\n  genre: newMood.genre || 'lofi',\n  energy: ['low', 'medium', 'high'].includes(newMood.energy) ? newMood.energy : 'medium',\n  tempo: typeof newMood.tempo === 'number' ? newMood.tempo : 90,\n  description: newMood.description || '',\n  updatedAt: new Date().toISOString()\n};\n\nconst moodPath = '/home/node/.n8n/music-stream/mood.json';\nconst tmpPath = moodPath + '.tmp';\nfs.writeFileSync(tmpPath, JSON.stringify(validMood, null, 2));\nfs.renameSync(tmpPath, moodPath);\n\nreturn [{ json: { success: true, mood: validMood } }];"}},{"id":"c0000001-0000-0000-0000-000000000010","name":"No Op - Stream Inactive","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-680,420],"parameters":{}},{"id":"c0000001-0000-0000-0000-000000000011","name":"No Op - No Messages","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[40,320],"parameters":{}}],"connections":{"Poll Every 45 Seconds":{"main":[[{"node":"Read Stream State","type":"main","index":0}]]},"Read Stream State":{"main":[[{"node":"IF Stream Active","type":"main","index":0}]]},"IF Stream Active":{"main":[[{"node":"YouTube - Get Chat Messages","type":"main","index":0}],[{"node":"No Op - Stream Inactive","type":"main","index":0}]]},"YouTube - Get Chat Messages":{"main":[[{"node":"Save Page Token & Filter","type":"main","index":0}]]},"Save Page Token & Filter":{"main":[[{"node":"IF Has Messages","type":"main","index":0}]]},"IF Has Messages":{"main":[[{"node":"Analyze Mood with Claude","type":"main","index":0}],[{"node":"No Op - No Messages","type":"main","index":0}]]},"Analyze Mood with Claude":{"main":[[{"node":"Update Mood File","type":"main","index":0}]]},"AWS Bedrock Claude":{"ai_languageModel":[[{"node":"Analyze Mood with Claude","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"}}
