workflow-stream-controller.json
{
    "updatedAt": "2026-02-07T00:39:35.072Z",
    "createdAt": "2026-02-06T22:33:18.592Z",
    "id": "vO3TJ3FajfSHXICz",
    "name": "Stream Controller - AI Live Stream",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "id": "b0000001-0000-0000-0000-000000000001",
            "name": "Webhook - Stream Control",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -1600,
                300
            ],
            "parameters": {
                "httpMethod": "POST",
                "path": "stream-control",
                "responseMode": "responseNode",
                "options": {}
            },
            "webhookId": "stream-control-webhook",
            "onError": "continueRegularOutput"
        },
        {
            "id": "b0000001-0000-0000-0000-000000000002",
            "name": "Route Action",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                -1360,
                300
            ],
            "parameters": {
                "mode": "expression",
                "output": "={{ $json.body.action === 'start' ? 0 : $json.body.action === 'stop' ? 1 : 2 }}"
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000003",
            "name": "YouTube - Create Broadcast",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -1100,
                100
            ],
            "parameters": {
                "method": "POST",
                "url": "https://www.googleapis.com/youtube/v3/liveBroadcasts?part=snippet,status,contentDetails",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleOAuth2Api",
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ snippet: { title: 'AI Generated Music - Live Stream', description: 'Continuous AI-generated music. Chat to change the mood! Commands: suggest genres, moods, or vibes in chat.', scheduledStartTime: new Date().toISOString() }, status: { privacyStatus: 'unlisted', selfDeclaredMadeForKids: false }, contentDetails: { enableAutoStart: true, enableAutoStop: false, enableDvr: true, latencyPreference: 'normal' } }) }}",
                "options": {
                    "timeout": 30000
                }
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000004",
            "name": "YouTube - Create Stream",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -860,
                100
            ],
            "parameters": {
                "method": "POST",
                "url": "https://www.googleapis.com/youtube/v3/liveStreams?part=snippet,cdn",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleOAuth2Api",
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ snippet: { title: 'AI Music Stream Feed' }, cdn: { frameRate: '30fps', ingestionType: 'rtmp', resolution: '720p' } }) }}",
                "options": {
                    "timeout": 30000
                }
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000005",
            "name": "YouTube - Bind Broadcast",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -620,
                100
            ],
            "parameters": {
                "method": "POST",
                "url": "=https://www.googleapis.com/youtube/v3/liveBroadcasts/bind?id={{ $node[\"YouTube - Create Broadcast\"].json.id }}&streamId={{ $json.id }}&part=id,contentDetails",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleOAuth2Api",
                "options": {
                    "timeout": 30000
                }
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000006",
            "name": "Save Stream State",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -380,
                100
            ],
            "parameters": {
                "jsCode": "const fs = require('fs');\n\nconst broadcastData = $node['YouTube - Create Broadcast'].json;\nconst streamData = $node['YouTube - Create Stream'].json;\n\nconst state = {\n  isActive: true,\n  broadcastId: broadcastData.id,\n  liveChatId: broadcastData.snippet.liveChatId,\n  streamId: streamData.id,\n  rtmpUrl: streamData.cdn.ingestionInfo.ingestionAddress,\n  streamKey: streamData.cdn.ingestionInfo.streamName,\n  title: broadcastData.snippet.title,\n  startedAt: new Date().toISOString(),\n  songsPlayed: 0,\n  songsGenerated: 0,\n  nextPageToken: null\n};\n\nconst tmpPath = '/home/node/.n8n/music-stream/state.json.tmp';\nconst finalPath = '/home/node/.n8n/music-stream/state.json';\nfs.writeFileSync(tmpPath, JSON.stringify(state, null, 2));\nfs.renameSync(tmpPath, finalPath);\n\nreturn [{ json: state }];"
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000009",
            "name": "Wait for Stream Connect",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                340,
                100
            ],
            "parameters": {
                "resume": "timeInterval",
                "amount": 15,
                "unit": "seconds"
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000010",
            "name": "YouTube - Transition to Testing",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                580,
                100
            ],
            "continueOnFail": true,
            "parameters": {
                "method": "POST",
                "url": "=https://www.googleapis.com/youtube/v3/liveBroadcasts/transition?broadcastStatus=testing&id={{ $node[\"Save Stream State\"].json.broadcastId }}&part=status",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleOAuth2Api",
                "options": {
                    "timeout": 30000
                }
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000011",
            "name": "Wait for Testing",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                820,
                100
            ],
            "parameters": {
                "resume": "timeInterval",
                "amount": 10,
                "unit": "seconds"
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000012",
            "name": "YouTube - Transition to Live",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1060,
                100
            ],
            "continueOnFail": true,
            "parameters": {
                "method": "POST",
                "url": "=https://www.googleapis.com/youtube/v3/liveBroadcasts/transition?broadcastStatus=live&id={{ $node[\"Save Stream State\"].json.broadcastId }}&part=status",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleOAuth2Api",
                "options": {
                    "timeout": 30000
                }
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000013",
            "name": "Respond - Start Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1300,
                100
            ],
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ status: 'success', message: 'YouTube broadcast created. Start FFmpeg on the host: ~/.n8n/music-stream/scripts/stream.sh', broadcastId: $node['Save Stream State'].json.broadcastId, liveChatId: $node['Save Stream State'].json.liveChatId, streamUrl: 'https://www.youtube.com/watch?v=' + $node['Save Stream State'].json.broadcastId, rtmpUrl: $node['Save Stream State'].json.rtmpUrl, streamKey: $node['Save Stream State'].json.streamKey }) }}",
                "options": {}
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000015",
            "name": "YouTube - End Broadcast",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -860,
                300
            ],
            "continueOnFail": true,
            "parameters": {
                "method": "POST",
                "url": "=https://www.googleapis.com/youtube/v3/liveBroadcasts/transition?broadcastStatus=complete&id={{ $node[\"Read State for Stop\"].json.broadcastId }}&part=status",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleOAuth2Api",
                "options": {
                    "timeout": 30000
                }
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000016",
            "name": "Update State Stopped",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -620,
                300
            ],
            "parameters": {
                "jsCode": "const fs = require('fs');\n\nconst statePath = '/home/node/.n8n/music-stream/state.json';\nconst tmpPath = statePath + '.tmp';\n\nlet state = {};\ntry {\n  state = JSON.parse(fs.readFileSync(statePath, 'utf8'));\n} catch(e) {\n  state = {};\n}\n\nstate.isActive = false;\nstate.stoppedAt = new Date().toISOString();\n\nfs.writeFileSync(tmpPath, JSON.stringify(state, null, 2));\nfs.renameSync(tmpPath, statePath);\n\nreturn [{ json: { status: 'stopped', broadcastId: state.broadcastId } }];"
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000017",
            "name": "Respond - Stop Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                -380,
                300
            ],
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ status: 'success', message: 'Stream stopped', broadcastId: $json.broadcastId }) }}",
                "options": {}
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000018",
            "name": "Read State for Status",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1100,
                500
            ],
            "parameters": {
                "jsCode": "const fs = require('fs');\n\nlet state = {};\ntry {\n  state = JSON.parse(fs.readFileSync('/home/node/.n8n/music-stream/state.json', 'utf8'));\n} catch(e) {\n  state = { isActive: false, error: 'State file not found' };\n}\n\nlet queueSize = 0;\ntry {\n  queueSize = fs.readdirSync('/home/node/.n8n/music-stream/queue/').filter(f => f.endsWith('.mp3')).length;\n} catch(e) {}\n\nlet playingFiles = [];\ntry {\n  playingFiles = fs.readdirSync('/home/node/.n8n/music-stream/playing/').filter(f => f.endsWith('.mp3'));\n} catch(e) {}\n\nlet mood = {};\ntry {\n  mood = JSON.parse(fs.readFileSync('/home/node/.n8n/music-stream/mood.json', 'utf8'));\n} catch(e) {}\n\nreturn [{ json: {\n  ...state,\n  queueSize,\n  currentlyPlaying: playingFiles[0] || null,\n  currentMood: mood,\n  checkedAt: new Date().toISOString()\n} }];"
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000019",
            "name": "Respond - Status",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                -860,
                500
            ],
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {}
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000020",
            "name": "Read State for Stop",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1100,
                200
            ],
            "parameters": {
                "jsCode": "const fs = require('fs');\n\nlet state = {};\ntry {\n  state = JSON.parse(fs.readFileSync('/home/node/.n8n/music-stream/state.json', 'utf8'));\n} catch(e) {\n  state = { broadcastId: null };\n}\n\nreturn [{ json: state }];"
            }
        }
    ],
    "connections": {
        "Webhook - Stream Control": {
            "main": [
                [
                    {
                        "node": "Route Action",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route Action": {
            "main": [
                [
                    {
                        "node": "YouTube - Create Broadcast",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Read State for Stop",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Read State for Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "YouTube - Create Broadcast": {
            "main": [
                [
                    {
                        "node": "YouTube - Create Stream",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "YouTube - Create Stream": {
            "main": [
                [
                    {
                        "node": "YouTube - Bind Broadcast",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "YouTube - Bind Broadcast": {
            "main": [
                [
                    {
                        "node": "Save Stream State",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait for Stream Connect": {
            "main": [
                [
                    {
                        "node": "YouTube - Transition to Testing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "YouTube - Transition to Testing": {
            "main": [
                [
                    {
                        "node": "Wait for Testing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait for Testing": {
            "main": [
                [
                    {
                        "node": "YouTube - Transition to Live",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "YouTube - Transition to Live": {
            "main": [
                [
                    {
                        "node": "Respond - Start Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "YouTube - End Broadcast": {
            "main": [
                [
                    {
                        "node": "Update State Stopped",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update State Stopped": {
            "main": [
                [
                    {
                        "node": "Respond - Stop Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read State for Status": {
            "main": [
                [
                    {
                        "node": "Respond - Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Stream State": {
            "main": [
                [
                    {
                        "node": "Wait for Stream Connect",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read State for Stop": {
            "main": [
                [
                    {
                        "node": "YouTube - End Broadcast",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "a6c8d155-8fef-4257-a3ce-3dce0319487e",
    "activeVersionId": null,
    "versionCounter": 4,
    "triggerCount": 0,
    "shared": [
        {
            "updatedAt": "2026-02-06T22:33:18.594Z",
            "createdAt": "2026-02-06T22:33:18.594Z",
            "role": "workflow:owner",
            "workflowId": "vO3TJ3FajfSHXICz",
            "projectId": "6RAJcBVHKTCwT4Nk",
            "project": {
                "updatedAt": "2026-01-31T20:05:52.751Z",
                "createdAt": "2026-01-31T20:04:16.860Z",
                "id": "6RAJcBVHKTCwT4Nk",
                "name": "Marcin Zadka <gamboox@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "e59d292a-3ff3-4536-9954-55f7b84be35c",
                "projectRelations": [
                    {
                        "updatedAt": "2026-01-31T20:04:16.861Z",
                        "createdAt": "2026-01-31T20:04:16.861Z",
                        "userId": "e59d292a-3ff3-4536-9954-55f7b84be35c",
                        "projectId": "6RAJcBVHKTCwT4Nk",
                        "user": {
                            "updatedAt": "2026-02-06T23:26:28.000Z",
                            "createdAt": "2026-01-31T20:04:15.351Z",
                            "id": "e59d292a-3ff3-4536-9954-55f7b84be35c",
                            "email": "gamboox@gmail.com",
                            "firstName": "Marcin",
                            "lastName": "Zadka",
                            "personalizationAnswers": null,
                            "settings": {
                                "userActivated": true,
                                "easyAIWorkflowOnboarded": true,
                                "firstSuccessfulWorkflowId": "Bz5z78wyJwX7QtpaGItlN",
                                "userActivatedAt": 1769976033082
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-02-06",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": null
}
