workflow-music-generator.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 3
            }
          ]
        }
      },
      "id": "a0000001-0000-0000-0000-000000000001",
      "name": "Generate Every 3 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1408,
        288
      ]
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/music-stream/queue/*.mp3",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000015",
      "name": "Count Queue Files",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1184,
        288
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst count = items.filter(item => item.binary && item.binary.data).length;\nreturn [{\n  json: {\n    queueSize: count,\n    needsGeneration: count < 2,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "a0000001-0000-0000-0000-000000000016",
      "name": "Evaluate Queue Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-queue-check",
              "leftValue": "={{ $json.needsGeneration }}",
              "rightValue": 2,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000003",
      "name": "IF Queue Needs Songs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -736,
        288
      ]
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/music-stream/mood.json",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000017",
      "name": "Read Mood File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -512,
        192
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000030",
      "name": "Extract Mood JSON",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -288,
        192
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const defaults = {\n  style: 'A slow-tempo psychedelic rock track launches with swirling organs and gently-effected electric guitar, Warm, steady bass holds down a relaxed, syncopated drum groove, Fluid synth layers quietly float beneath, creating an enveloping, smooth sonic atmosphere throughout. 432 Hz',\n  title: 'Vibe Journey',\n  genre: 'psychedelic rock',\n  energy: 'low'\n};\n\nlet moodData = {};\ntry {\n  const json = $input.first().json;\n  moodData = json.data || json || {};\n} catch(e) {\n  // Use defaults if file missing or parse fails\n}\n\nreturn [{ json: { ...defaults, ...moodData } }];"
      },
      "id": "a0000001-0000-0000-0000-000000000018",
      "name": "Parse Mood",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const mood = $input.first().json;\n\nconst songId = `song_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\nconst requestBody = {\n  customMode: true,\n  instrumental: true,\n  model: 'V5',\n  style: mood.style || 'A gentle lofi hip-hop beat with warm vinyl crackle and soft Rhodes piano chords, 432Hz',\n  title: mood.title || 'Untitled Track',\n  callBackUrl: 'https://niewiemco.local'\n};\n\nreturn [{\n  json: {\n    requestBody,\n    songId,\n    style: mood.style,\n    title: mood.title,\n    genre: mood.genre,\n    energy: mood.energy,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "a0000001-0000-0000-0000-000000000005",
      "name": "Craft Suno Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        192
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sunoapi.org/api/v1/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a0000001-0000-0000-0000-000000000006",
      "name": "Suno API - Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        192
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XLCHSMST8ijOKokQ",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "vN4XECXViKXkf5eX",
          "name": "sunoapi.org"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nlet taskId;\n\nif (response.data && response.data.taskId) {\n  taskId = response.data.taskId;\n} else if (response.taskId) {\n  taskId = response.taskId;\n} else {\n  throw new Error('Unable to extract taskId from Suno response: ' + JSON.stringify(response).substring(0, 500));\n}\n\nreturn [{\n  json: {\n    taskId,\n    status: 'PENDING',\n    retryCount: 0\n  }\n}];"
      },
      "id": "a0000001-0000-0000-0000-000000000007",
      "name": "Extract Task ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        192
      ]
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "a0000001-0000-0000-0000-000000000008",
      "name": "Wait for Generation",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        832,
        192
      ],
      "webhookId": "73563fef-f90d-4398-b659-fc1da7449984"
    },
    {
      "parameters": {
        "url": "=https://api.sunoapi.org/api/v1/generate/record-info?taskId={{ $node[\"Extract Task ID\"].json.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a0000001-0000-0000-0000-000000000009",
      "name": "Suno API - Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XLCHSMST8ijOKokQ",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "vN4XECXViKXkf5eX",
          "name": "sunoapi.org"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-gen-complete",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000010",
      "name": "IF Generation Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1280,
        192
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.response.sunoData",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000022",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1504,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const track = $input.first().json;\n\n// Sanitize title for filename: remove special chars, limit length\nconst sanitizeTitle = (title) => {\n  if (!title) return 'Untitled';\n  return title\n    .replace(/[^a-zA-Z0-9\\s-]/g, '')  // Remove special chars\n    .replace(/\\s+/g, '_')              // Replace spaces with underscore\n    .substring(0, 50)                   // Limit to 50 chars\n    .replace(/_+$/, '');               // Remove trailing underscores\n};\n\nconst timestamp = Date.now();\nconst trackId = track.id.substr(0, 9);\nconst sanitizedTitle = sanitizeTitle(track.title);\n\n// Format: song_<timestamp>_<trackId>_<Title>\nconst songId = `song_${timestamp}_${trackId}_${sanitizedTitle}`;\n\nreturn [{\n  json: {\n    songId,\n    audioUrl: track.audioUrl,\n    imageUrl: track.imageUrl,\n    title: track.title,\n    sanitizedTitle,\n    duration: track.duration,\n    tags: track.tags\n  }\n}];"
      },
      "id": "a0000001-0000-0000-0000-000000000023",
      "name": "Generate Song ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        192
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.audioUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      },
      "id": "a0000001-0000-0000-0000-000000000011",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        112
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      },
      "id": "a0000001-0000-0000-0000-000000000024",
      "name": "Download Cover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        272
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/music-stream/queue/{{ $json.songId }}.mp3",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000012",
      "name": "Save Audio to Queue",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2176,
        112
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/music-stream/queue/{{ $json.songId }}.jpg",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000025",
      "name": "Save Cover to Queue",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2176,
        272
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/music-stream/state.json",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000019",
      "name": "Read State File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1952,
        192
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000031",
      "name": "Extract State JSON",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2176,
        192
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "let state = {};\ntry {\n  const json = $input.first().json;\n  state = { ...(json.data || json) };\n} catch(e) {\n  state = { broadcastId: null, streamKey: null, liveChatId: null, isActive: false, songsPlayed: 0 };\n}\n\nstate.songsGenerated = (state.songsGenerated || 0) + 1;\nstate.lastGenerationTime = new Date().toISOString();\n\n// Get song data from Generate Song ID node\nconst songData = $node['Generate Song ID']?.json || {};\nstate.lastSongId = songData.songId;\nstate.lastTitle = songData.title;\n\n// Get style/genre from original mood data\nconst moodData = $node['Craft Suno Prompt']?.json || {};\nstate.lastStyle = moodData.style;\nstate.lastGenre = moodData.genre;\n\nreturn [{ json: state }];"
      },
      "id": "a0000001-0000-0000-0000-000000000020",
      "name": "Build Updated State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        192
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true,
          "fileName": "state.json"
        }
      },
      "id": "a0000001-0000-0000-0000-000000000032",
      "name": "Convert State to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2624,
        192
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/.n8n-files/music-stream/state.json",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000021",
      "name": "Write State File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2848,
        192
      ]
    },
    {
      "parameters": {},
      "id": "a0000001-0000-0000-0000-000000000014",
      "name": "Queue Full - No Action",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -512,
        384
      ]
    }
  ],
  "connections": {
    "Generate Every 3 Minutes": {
      "main": [
        [
          {
            "node": "Count Queue Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Queue Files": {
      "main": [
        [
          {
            "node": "Evaluate Queue Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Queue Status": {
      "main": [
        [
          {
            "node": "IF Queue Needs Songs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Queue Needs Songs": {
      "main": [
        [
          {
            "node": "Read Mood File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Queue Full - No Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Mood File": {
      "main": [
        [
          {
            "node": "Extract Mood JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Mood JSON": {
      "main": [
        [
          {
            "node": "Parse Mood",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Mood": {
      "main": [
        [
          {
            "node": "Craft Suno Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Craft Suno Prompt": {
      "main": [
        [
          {
            "node": "Suno API - Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suno API - Generate": {
      "main": [
        [
          {
            "node": "Extract Task ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Task ID": {
      "main": [
        [
          {
            "node": "Wait for Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Generation": {
      "main": [
        [
          {
            "node": "Suno API - Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suno API - Check Status": {
      "main": [
        [
          {
            "node": "IF Generation Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Generation Complete": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Items": {
      "main": [
        [
          {
            "node": "Generate Song ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Song ID": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Cover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Save Audio to Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Cover": {
      "main": [
        [
          {
            "node": "Save Cover to Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Audio to Queue": {
      "main": [
        [
          {
            "node": "Read State File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Cover to Queue": {
      "main": [
        [
          {
            "node": "Read State File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read State File": {
      "main": [
        [
          {
            "node": "Extract State JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract State JSON": {
      "main": [
        [
          {
            "node": "Build Updated State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Updated State": {
      "main": [
        [
          {
            "node": "Convert State to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert State to File": {
      "main": [
        [
          {
            "node": "Write State File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "dff996d026d44117a8af89e16a2e0d723d499d554b6aeb48b92a27c916d45084"
  }
}
