workflow-chat-monitor.json
{
    "updatedAt": "2026-02-07T16:01:33.104Z",
    "createdAt": "2026-02-07T00:28:37.677Z",
    "id": "9rAeeRlcMVWoryaE",
    "name": "Chat Monitor - AI Live Stream",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "id": "c0000001-0000-0000-0000-000000000001",
            "name": "Poll Every 45 Seconds",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [-1400, 300],
            "parameters": {
                "rule": { "interval": [{ "field": "seconds", "secondsInterval": 45 }] }
            }
        },
        {
            "id": "c0000001-0000-0000-0000-000000000020",
            "name": "Read State File",
            "type": "n8n-nodes-base.readWriteFile",
            "typeVersion": 1.1,
            "position": [-1160, 300],
            "parameters": {
                "fileSelector": "/home/node/.n8n-files/music-stream/state.json",
                "options": {}
            },
            "onError": "continueRegularOutput"
        },
        {
            "id": "c0000001-0000-0000-0000-000000000021",
            "name": "Parse State",
            "type": "n8n-nodes-base.extractFromFile",
            "typeVersion": 1.1,
            "position": [-920, 300],
            "parameters": { "operation": "fromJson", "options": {} },
            "onError": "continueRegularOutput"
        },
        {
            "id": "c0000001-0000-0000-0000-000000000022",
            "name": "Read Mood File",
            "type": "n8n-nodes-base.readWriteFile",
            "typeVersion": 1.1,
            "position": [-680, 300],
            "parameters": {
                "fileSelector": "/home/node/.n8n-files/music-stream/mood.json",
                "options": {}
            },
            "onError": "continueRegularOutput"
        },
        {
            "id": "c0000001-0000-0000-0000-000000000023",
            "name": "Parse Mood File",
            "type": "n8n-nodes-base.extractFromFile",
            "typeVersion": 1.1,
            "position": [-440, 300],
            "parameters": { "operation": "fromJson", "options": {} },
            "onError": "continueRegularOutput"
        },
        {
            "id": "c0000001-0000-0000-0000-000000000002",
            "name": "Combine State & Mood",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [-200, 300],
            "parameters": {
                "jsCode": "const stateInput = $node['Parse State'].json;\nconst state = stateInput.data || stateInput || {};\n\nlet mood = {};\ntry {\n  const moodInput = $node['Parse Mood File'].json;\n  mood = moodInput.data || moodInput || {};\n} catch(e) {\n  mood = { style: 'A gentle lofi hip-hop beat with warm vinyl crackle, soft Rhodes piano chords, and a laid-back boom-bap drum pattern, Mellow bass hums underneath as ambient textures float in and out, 432Hz', title: 'Late Night Drift', genre: 'lofi', energy: 'medium' };\n}\n\nreturn [{\n  json: {\n    isActive: state.isActive || false,\n    liveChatId: state.liveChatId || null,\n    nextPageToken: state.nextPageToken || null,\n    currentMood: JSON.stringify(mood),\n    broadcastId: state.broadcastId || null\n  }\n}];"
            }
        },
        {
            "id": "c0000001-0000-0000-0000-000000000003",
            "name": "IF Stream Active",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [40, 300],
            "parameters": {
                "conditions": {
                    "options": { "caseSensitive": true, "leftValue": "" },
                    "conditions": [
                        {
                            "id": "cond-stream-active",
                            "leftValue": "={{ $json.isActive }}",
                            "rightValue": "",
                            "operator": { "type": "boolean", "operation": "true" }
                        },
                        {
                            "id": "cond-has-chat-id",
                            "leftValue": "={{ $json.liveChatId }}",
                            "rightValue": "",
                            "operator": { "type": "string", "operation": "isNotEmpty" }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            }
        },
        {
            "id": "c0000001-0000-0000-0000-000000000004",
            "name": "YouTube - Get Chat Messages",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [280, 200],
            "continueOnFail": true,
            "parameters": {
                "method": "GET",
                "url": "=https://www.googleapis.com/youtube/v3/liveChat/messages?liveChatId={{ $json.liveChatId }}&part=snippet,authorDetails&maxResults=50{{ $json.nextPageToken ? '&pageToken=' + $json.nextPageToken : '' }}",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleOAuth2Api",
                "options": { "timeout": 15000 }
            }
        },
        {
            "id": "c0000001-0000-0000-0000-000000000005",
            "name": "Filter & Format Messages",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [520, 200],
            "parameters": {
                "jsCode": "const response = $input.first().json;\n\nconst items = response.items || [];\nconst messages = items\n  .map(item => ({\n    author: item.authorDetails?.displayName || 'Unknown',\n    message: item.snippet?.displayMessage || '',\n    time: item.snippet?.publishedAt || ''\n  }))\n  .filter(m => m.message.trim().length > 1)\n  .slice(-20);\n\nconst formattedMessages = messages\n  .map(m => `${m.author}: ${m.message}`)\n  .join('\\n');\n\nconst currentMood = $node['Combine State & Mood'].json.currentMood;\n\nreturn [{\n  json: {\n    messageCount: messages.length,\n    hasMessages: messages.length > 0,\n    formattedMessages,\n    currentMood,\n    chatInput: `Current music style: ${currentMood}\\n\\nRecent YouTube live chat messages:\\n${formattedMessages}\\n\\nBased on these chat messages, decide the style for the next AI-generated instrumental track. Return ONLY valid JSON.`\n  }\n}];"
            }
        },
        {
            "id": "c0000001-0000-0000-0000-000000000006",
            "name": "IF Has Messages",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [760, 200],
            "parameters": {
                "conditions": {
                    "options": { "caseSensitive": true, "leftValue": "" },
                    "conditions": [
                        {
                            "id": "cond-has-messages",
                            "leftValue": "={{ $json.hasMessages }}",
                            "rightValue": "",
                            "operator": { "type": "boolean", "operation": "true" }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            }
        },
        {
            "id": "c0000001-0000-0000-0000-000000000007",
            "name": "Analyze Mood with Claude",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.9,
            "position": [1000, 100],
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.chatInput }}",
                "messages": {
                    "messageValues": [
                        {
                            "type": "SystemMessagePromptTemplate",
                            "message": "You are a music director for an AI-generated instrumental music live stream on YouTube.\nAnalyze viewer chat messages and decide what kind of instrumental track to generate next.\n\nReturn ONLY valid JSON with this exact structure:\n{\"style\": \"<A vivid, detailed description of the instrumental track. Describe tempo feel, key instruments, effects, textures, atmosphere, and musical character. End with 432Hz. Max 800 characters.>\", \"title\": \"<A creative 2-4 word track title>\", \"genre\": \"<primary genre>\", \"energy\": \"low|medium|high\"}\n\nExample outputs:\n{\"style\": \"A slow-tempo psychedelic rock track opens with swirling organs and laid-back electric guitar, coated in subtle effects, The groove is anchored by a warm, steady bass and a relaxed, syncopated drum beat, Fluid synth textures drift in the background as the music soothes and envelops, 432Hz\", \"title\": \"Cosmic Drift\", \"genre\": \"psychedelic rock\", \"energy\": \"low\"}\n{\"style\": \"An uptempo funk-jazz fusion piece driven by a punchy slap bass and tight hi-hat work, Bright brass stabs punctuate between smooth Rhodes comping, A wah-guitar weaves through the groove while shimmering ride cymbals keep the energy flowing, 432Hz\", \"title\": \"Brass in Motion\", \"genre\": \"funk-jazz\", \"energy\": \"high\"}\n{\"style\": \"A mid-tempo ambient electronica piece built on soft granular pads and distant reversed piano, A deep sub-bass pulse anchors the track while delicate arpeggiated synths shimmer above, Occasional field recordings of rain and distant birds blend into the ethereal soundscape, 432Hz\", \"title\": \"Rain Signal\", \"genre\": \"ambient electronica\", \"energy\": \"low\"}\n\nIMPORTANT: The style field is passed directly to a music generation AI as its prompt. Make it detailed, evocative, and musically specific. Always end with 432Hz.\nIf chat messages don't express clear music preferences, evolve the current style subtly rather than keeping it identical \u2014 vary instruments, textures, or atmosphere.\nNever include anything outside the JSON object in your response."
                        }
                    ]
                }
            }
        },
        {
            "id": "c0000001-0000-0000-0000-000000000008",
            "name": "AWS Bedrock Claude",
            "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
            "typeVersion": 1.1,
            "position": [1020, 320],
            "parameters": {
                "modelSource": "onDemand",
                "model": "anthropic.claude-3-5-sonnet-20241022-v1:0",
                "options": { "temperature": 0.7, "maxTokensToSample": 1024 }
            }
        },
        {
            "id": "c0000001-0000-0000-0000-000000000009",
            "name": "Validate Mood Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [1240, 100],
            "parameters": {
                "jsCode": "const llmResponse = $input.first().json;\nconst responseText = llmResponse.text || llmResponse.output || JSON.stringify(llmResponse);\n\nlet newMood;\ntry {\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    newMood = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found in response');\n  }\n} catch(e) {\n  newMood = { style: 'A gentle lofi hip-hop beat with warm vinyl crackle, soft Rhodes piano chords, and a laid-back boom-bap drum pattern, Mellow bass hums underneath as ambient textures float in and out, 432Hz', title: 'Late Night Drift', genre: 'lofi', energy: 'medium' };\n}\n\nconst validMood = {\n  style: (typeof newMood.style === 'string' && newMood.style.length > 10) ? newMood.style : 'A gentle lofi hip-hop beat with warm vinyl crackle, soft Rhodes piano chords, and a laid-back boom-bap drum pattern, 432Hz',\n  title: (typeof newMood.title === 'string' && newMood.title.length > 0) ? newMood.title.substring(0, 100) : 'Untitled Track',\n  genre: newMood.genre || 'lofi',\n  energy: ['low', 'medium', 'high'].includes(newMood.energy) ? newMood.energy : 'medium',\n  updatedAt: new Date().toISOString()\n};\n\nreturn [{ json: validMood }];"
            }
        },
        {
            "id": "c0000001-0000-0000-0000-000000000030",
            "name": "Mood to JSON File",
            "type": "n8n-nodes-base.convertToFile",
            "typeVersion": 1.1,
            "position": [1480, 100],
            "parameters": {
                "operation": "toJson",
                "options": { "format": true, "fileName": "mood.json" }
            }
        },
        {
            "id": "c0000001-0000-0000-0000-000000000031",
            "name": "Write Mood File",
            "type": "n8n-nodes-base.readWriteFile",
            "typeVersion": 1.1,
            "position": [1720, 100],
            "parameters": {
                "operation": "write",
                "fileName": "/home/node/.n8n-files/music-stream/mood.json",
                "options": {}
            }
        },
        {
            "id": "c0000001-0000-0000-0000-000000000010",
            "name": "No Op - Stream Inactive",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [280, 420],
            "parameters": {}
        },
        {
            "id": "c0000001-0000-0000-0000-000000000011",
            "name": "No Op - No Messages",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [1000, 300],
            "parameters": {}
        }
    ],
    "connections": {
        "Poll Every 45 Seconds": {
            "main": [[{ "node": "Read State File", "type": "main", "index": 0 }]]
        },
        "Read State File": {
            "main": [[{ "node": "Parse State", "type": "main", "index": 0 }]]
        },
        "Parse State": {
            "main": [[{ "node": "Read Mood File", "type": "main", "index": 0 }]]
        },
        "Read Mood File": {
            "main": [[{ "node": "Parse Mood File", "type": "main", "index": 0 }]]
        },
        "Parse Mood File": {
            "main": [[{ "node": "Combine State & Mood", "type": "main", "index": 0 }]]
        },
        "Combine State & Mood": {
            "main": [[{ "node": "IF Stream Active", "type": "main", "index": 0 }]]
        },
        "IF Stream Active": {
            "main": [
                [{ "node": "YouTube - Get Chat Messages", "type": "main", "index": 0 }],
                [{ "node": "No Op - Stream Inactive", "type": "main", "index": 0 }]
            ]
        },
        "YouTube - Get Chat Messages": {
            "main": [[{ "node": "Filter & Format Messages", "type": "main", "index": 0 }]]
        },
        "Filter & Format Messages": {
            "main": [[{ "node": "IF Has Messages", "type": "main", "index": 0 }]]
        },
        "IF Has Messages": {
            "main": [
                [{ "node": "Analyze Mood with Claude", "type": "main", "index": 0 }],
                [{ "node": "No Op - No Messages", "type": "main", "index": 0 }]
            ]
        },
        "Analyze Mood with Claude": {
            "main": [[{ "node": "Validate Mood Response", "type": "main", "index": 0 }]]
        },
        "Validate Mood Response": {
            "main": [[{ "node": "Mood to JSON File", "type": "main", "index": 0 }]]
        },
        "Mood to JSON File": {
            "main": [[{ "node": "Write Mood File", "type": "main", "index": 0 }]]
        },
        "AWS Bedrock Claude": {
            "ai_languageModel": [[{ "node": "Analyze Mood with Claude", "type": "ai_languageModel", "index": 0 }]]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner"
    },
    "pinData": {},
    "tags": [{ "name": "YouTube-ai-live-stream" }]
}
