workflow-music-generator.json
{
    "updatedAt": "2026-02-07T01:37:10.499Z",
    "createdAt": "2026-02-06T22:31:31.557Z",
    "id": "z5u89ssBnW6Bq74G",
    "name": "Music Generator - AI Live Stream",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 3
                        }
                    ]
                }
            },
            "id": "a0000001-0000-0000-0000-000000000001",
            "name": "Generate Every 3 Minutes",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -1408,
                304
            ]
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\n\n// Check queue size\nlet queueSize = 0;\ntry {\n  const files = fs.readdirSync('/home/node/.n8n/music-stream/queue/')\n    .filter(f => f.endsWith('.mp3'));\n  queueSize = files.length;\n} catch(e) {\n  queueSize = 0;\n}\n\nreturn [{\n  json: {\n    queueSize,\n    needsGeneration: queueSize < 2,\n    timestamp: new Date().toISOString()\n  }\n}];"
            },
            "id": "a0000001-0000-0000-0000-000000000002",
            "name": "Check Queue & Health",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1168,
                304
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": ""
                    },
                    "conditions": [
                        {
                            "id": "condition-queue-check",
                            "leftValue": "={{ $json.needsGeneration }}",
                            "rightValue": "",
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "a0000001-0000-0000-0000-000000000003",
            "name": "IF Queue Needs Songs",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -928,
                304
            ]
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\n\nlet mood = {\n  style: 'A gentle lofi hip-hop beat with warm vinyl crackle, soft Rhodes piano chords, and a laid-back boom-bap drum pattern, Mellow bass hums underneath as ambient textures float in and out, 432Hz',\n  title: 'Late Night Drift',\n  genre: 'lofi',\n  energy: 'medium'\n};\n\ntry {\n  const moodData = JSON.parse(fs.readFileSync('/home/node/.n8n/music-stream/mood.json', 'utf8'));\n  mood = { ...mood, ...moodData };\n} catch(e) {\n  // Use defaults if mood.json missing or corrupt\n}\n\nreturn [{ json: mood }];"
            },
            "id": "a0000001-0000-0000-0000-000000000004",
            "name": "Read Current Mood",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -688,
                208
            ]
        },
        {
            "parameters": {
                "jsCode": "const mood = $input.first().json;\n\nconst songId = `song_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\nconst requestBody = {\n  customMode: true,\n  instrumental: true,\n  model: 'V5',\n  style: mood.style || 'A gentle lofi hip-hop beat with warm vinyl crackle and soft Rhodes piano chords, 432Hz',\n  title: mood.title || 'Untitled Track',\n  callBackUrl: ''\n};\n\nreturn [{\n  json: {\n    requestBody,\n    songId,\n    style: mood.style,\n    title: mood.title,\n    genre: mood.genre,\n    energy: mood.energy,\n    timestamp: new Date().toISOString()\n  }\n}];"
            },
            "id": "a0000001-0000-0000-0000-000000000005",
            "name": "Craft Suno Prompt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -448,
                208
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.sunoapi.org/api/v1/generate",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
                "options": {
                    "timeout": 30000
                }
            },
            "id": "a0000001-0000-0000-0000-000000000006",
            "name": "Suno API - Generate",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -208,
                208
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "XLCHSMST8ijOKokQ",
                    "name": "Header Auth account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const response = $input.first().json;\n\nlet taskId;\n\nif (response.data && response.data.taskId) {\n  taskId = response.data.taskId;\n} else if (response.taskId) {\n  taskId = response.taskId;\n} else {\n  throw new Error('Unable to extract taskId from Suno response: ' + JSON.stringify(response).substring(0, 500));\n}\n\nreturn [{\n  json: {\n    taskId,\n    status: 'PENDING',\n    retryCount: 0\n  }\n}];"
            },
            "id": "a0000001-0000-0000-0000-000000000007",
            "name": "Extract Task ID",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                0,
                208
            ]
        },
        {
            "parameters": {
                "amount": 90
            },
            "id": "a0000001-0000-0000-0000-000000000008",
            "name": "Wait for Generation",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                208,
                208
            ],
            "webhookId": "73563fef-f90d-4398-b659-fc1da7449984"
        },
        {
            "parameters": {
                "url": "=https://api.sunoapi.org/api/v1/generate/record-info?taskId={{ $node[\"Extract Task ID\"].json.taskId }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {
                    "timeout": 30000
                }
            },
            "id": "a0000001-0000-0000-0000-000000000009",
            "name": "Suno API - Check Status",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                400,
                208
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "XLCHSMST8ijOKokQ",
                    "name": "Header Auth account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": ""
                    },
                    "conditions": [
                        {
                            "id": "condition-gen-complete",
                            "leftValue": "={{ $json.data.status }}",
                            "rightValue": "SUCCESS",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "a0000001-0000-0000-0000-000000000010",
            "name": "IF Generation Complete",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                608,
                208
            ]
        },
        {
            "parameters": {
                "url": "={{ $json.data.response.sunoData[0].audioUrl }}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    },
                    "timeout": 60000
                }
            },
            "id": "a0000001-0000-0000-0000-000000000011",
            "name": "Download Audio",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                800,
                112
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "fileName": "=/home/node/.n8n/music-stream/queue/{{ $node[\"Craft Suno Prompt\"].json.songId }}.mp3",
                "options": {}
            },
            "id": "a0000001-0000-0000-0000-000000000012",
            "name": "Save to Queue",
            "type": "n8n-nodes-base.writeBinaryFile",
            "typeVersion": 1,
            "position": [
                1008,
                112
            ]
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\n\nconst statePath = '/home/node/.n8n/music-stream/state.json';\nconst tmpPath = statePath + '.tmp';\n\nlet state = {};\ntry {\n  state = JSON.parse(fs.readFileSync(statePath, 'utf8'));\n} catch(e) {\n  state = { broadcastId: null, streamKey: null, liveChatId: null, isActive: false, songsPlayed: 0 };\n}\n\nstate.songsGenerated = (state.songsGenerated || 0) + 1;\nstate.lastGenerationTime = new Date().toISOString();\nstate.lastSongId = $node['Craft Suno Prompt'].json.songId;\nstate.lastStyle = $node['Craft Suno Prompt'].json.style;\nstate.lastTitle = $node['Craft Suno Prompt'].json.title;\nstate.lastGenre = $node['Craft Suno Prompt'].json.genre;\n\n// Atomic write\nfs.writeFileSync(tmpPath, JSON.stringify(state, null, 2));\nfs.renameSync(tmpPath, statePath);\n\nreturn [{ json: { success: true, songsGenerated: state.songsGenerated, songId: state.lastSongId } }];"
            },
            "id": "a0000001-0000-0000-0000-000000000013",
            "name": "Update Stats",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1200,
                112
            ]
        },
        {
            "parameters": {},
            "id": "a0000001-0000-0000-0000-000000000014",
            "name": "Queue Full - No Action",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                -688,
                432
            ]
        }
    ],
    "connections": {
        "Generate Every 3 Minutes": {
            "main": [
                [
                    {
                        "node": "Check Queue & Health",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Queue & Health": {
            "main": [
                [
                    {
                        "node": "IF Queue Needs Songs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Queue Needs Songs": {
            "main": [
                [
                    {
                        "node": "Read Current Mood",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Queue Full - No Action",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Current Mood": {
            "main": [
                [
                    {
                        "node": "Craft Suno Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Craft Suno Prompt": {
            "main": [
                [
                    {
                        "node": "Suno API - Generate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Suno API - Generate": {
            "main": [
                [
                    {
                        "node": "Extract Task ID",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Task ID": {
            "main": [
                [
                    {
                        "node": "Wait for Generation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait for Generation": {
            "main": [
                [
                    {
                        "node": "Suno API - Check Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Suno API - Check Status": {
            "main": [
                [
                    {
                        "node": "IF Generation Complete",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Generation Complete": {
            "main": [
                [
                    {
                        "node": "Download Audio",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Wait for Generation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download Audio": {
            "main": [
                [
                    {
                        "node": "Save to Queue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Queue": {
            "main": [
                [
                    {
                        "node": "Update Stats",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "f672d3ee-3e37-4612-ab43-01ef8d17e73f",
    "activeVersionId": null,
    "versionCounter": 11,
    "triggerCount": 0,
    "shared": [
        {
            "updatedAt": "2026-02-06T22:31:31.567Z",
            "createdAt": "2026-02-06T22:31:31.567Z",
            "role": "workflow:owner",
            "workflowId": "z5u89ssBnW6Bq74G",
            "projectId": "6RAJcBVHKTCwT4Nk",
            "project": {
                "updatedAt": "2026-01-31T20:05:52.751Z",
                "createdAt": "2026-01-31T20:04:16.860Z",
                "id": "6RAJcBVHKTCwT4Nk",
                "name": "Marcin Zadka <gamboox@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "e59d292a-3ff3-4536-9954-55f7b84be35c",
                "projectRelations": [
                    {
                        "updatedAt": "2026-01-31T20:04:16.861Z",
                        "createdAt": "2026-01-31T20:04:16.861Z",
                        "userId": "e59d292a-3ff3-4536-9954-55f7b84be35c",
                        "projectId": "6RAJcBVHKTCwT4Nk",
                        "user": {
                            "updatedAt": "2026-02-06T23:26:28.000Z",
                            "createdAt": "2026-01-31T20:04:15.351Z",
                            "id": "e59d292a-3ff3-4536-9954-55f7b84be35c",
                            "email": "gamboox@gmail.com",
                            "firstName": "Marcin",
                            "lastName": "Zadka",
                            "personalizationAnswers": null,
                            "settings": {
                                "userActivated": true,
                                "easyAIWorkflowOnboarded": true,
                                "firstSuccessfulWorkflowId": "Bz5z78wyJwX7QtpaGItlN",
                                "userActivatedAt": 1769976033082
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-02-06",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": null
}
