workflow-stream-controller.json
{
    "updatedAt": "2026-02-07T15:59:11.816Z",
    "createdAt": "2026-02-06T22:33:18.592Z",
    "id": "vO3TJ3FajfSHXICz",
    "name": "Stream Controller - AI Live Stream",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "id": "b0000001-0000-0000-0000-000000000001",
            "name": "Webhook - Stream Control",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [-1600, 300],
            "parameters": {
                "httpMethod": "POST",
                "path": "stream-control",
                "responseMode": "responseNode",
                "options": {}
            },
            "webhookId": "stream-control-webhook",
            "onError": "continueRegularOutput"
        },
        {
            "id": "b0000001-0000-0000-0000-000000000002",
            "name": "Route Action",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [-1360, 300],
            "parameters": {
                "mode": "expression",
                "output": "={{ $json.body.action === 'start' ? 0 : $json.body.action === 'stop' ? 1 : 2 }}"
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000003",
            "name": "YouTube - Create Broadcast",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-1100, 100],
            "parameters": {
                "method": "POST",
                "url": "https://www.googleapis.com/youtube/v3/liveBroadcasts?part=snippet,status,contentDetails",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleOAuth2Api",
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ snippet: { title: '🔊 Vibe Radio - 24/7 Chat controlled music experience [Live]', description: 'Vibe Radio is unique experience. Every song is played just once and mood of the stream is based on chat interaction.', scheduledStartTime: new Date().toISOString() }, status: { privacyStatus: 'unlisted', selfDeclaredMadeForKids: false }, contentDetails: { enableAutoStart: true, enableAutoStop: false, enableDvr: true, latencyPreference: 'normal' } }) }}",
                "options": { "timeout": 30000 }
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000004",
            "name": "YouTube - Create Stream",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-860, 100],
            "parameters": {
                "method": "POST",
                "url": "https://www.googleapis.com/youtube/v3/liveStreams?part=snippet,cdn",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleOAuth2Api",
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ snippet: { title: 'AI Music Stream Feed' }, cdn: { frameRate: '30fps', ingestionType: 'rtmp', resolution: '720p' } }) }}",
                "options": { "timeout": 30000 }
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000005",
            "name": "YouTube - Bind Broadcast",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-620, 100],
            "parameters": {
                "method": "POST",
                "url": "=https://www.googleapis.com/youtube/v3/liveBroadcasts/bind?id={{ $node[\"YouTube - Create Broadcast\"].json.id }}&streamId={{ $json.id }}&part=id,contentDetails",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleOAuth2Api",
                "options": { "timeout": 30000 }
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000006",
            "name": "Build Stream State",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [-380, 100],
            "parameters": {
                "jsCode": "const broadcastData = $node['YouTube - Create Broadcast'].json;\nconst streamData = $node['YouTube - Create Stream'].json;\n\nconst state = {\n  isActive: true,\n  broadcastId: broadcastData.id,\n  liveChatId: broadcastData.snippet.liveChatId,\n  streamId: streamData.id,\n  rtmpUrl: streamData.cdn.ingestionInfo.ingestionAddress,\n  streamKey: streamData.cdn.ingestionInfo.streamName,\n  title: broadcastData.snippet.title,\n  startedAt: new Date().toISOString(),\n  songsPlayed: 0,\n  songsGenerated: 0,\n  nextPageToken: null\n};\n\nreturn [{ json: state }];"
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000025",
            "name": "State to JSON File",
            "type": "n8n-nodes-base.convertToFile",
            "typeVersion": 1.1,
            "position": [-140, 100],
            "parameters": {
                "operation": "toJson",
                "options": { "format": true, "fileName": "state.json" }
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000026",
            "name": "Write State File",
            "type": "n8n-nodes-base.readWriteFile",
            "typeVersion": 1.1,
            "position": [100, 100],
            "parameters": {
                "operation": "write",
                "fileName": "/home/node/.n8n-files/music-stream/state.json",
                "options": {}
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000009",
            "name": "Wait for Stream Connect",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [340, 100],
            "parameters": { "resume": "timeInterval", "amount": 15, "unit": "seconds" }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000010",
            "name": "YouTube - Transition to Testing",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [580, 100],
            "continueOnFail": true,
            "parameters": {
                "method": "POST",
                "url": "=https://www.googleapis.com/youtube/v3/liveBroadcasts/transition?broadcastStatus=testing&id={{ $node[\"Build Stream State\"].json.broadcastId }}&part=status",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleOAuth2Api",
                "options": { "timeout": 30000 }
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000011",
            "name": "Wait for Testing",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [820, 100],
            "parameters": { "resume": "timeInterval", "amount": 10, "unit": "seconds" }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000012",
            "name": "YouTube - Transition to Live",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [1060, 100],
            "continueOnFail": true,
            "parameters": {
                "method": "POST",
                "url": "=https://www.googleapis.com/youtube/v3/liveBroadcasts/transition?broadcastStatus=live&id={{ $node[\"Build Stream State\"].json.broadcastId }}&part=status",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleOAuth2Api",
                "options": { "timeout": 30000 }
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000013",
            "name": "Respond - Start Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [1300, 100],
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ status: 'success', message: 'YouTube broadcast created. Start FFmpeg on the host.', broadcastId: $node['Build Stream State'].json.broadcastId, liveChatId: $node['Build Stream State'].json.liveChatId, streamUrl: 'https://www.youtube.com/watch?v=' + $node['Build Stream State'].json.broadcastId, rtmpUrl: $node['Build Stream State'].json.rtmpUrl, streamKey: $node['Build Stream State'].json.streamKey }) }}",
                "options": {}
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000020",
            "name": "Read State for Stop",
            "type": "n8n-nodes-base.readWriteFile",
            "typeVersion": 1.1,
            "position": [-1100, 300],
            "parameters": {
                "fileSelector": "/home/node/.n8n-files/music-stream/state.json",
                "options": {}
            },
            "onError": "continueRegularOutput"
        },
        {
            "id": "b0000001-0000-0000-0000-000000000027",
            "name": "Extract State for Stop",
            "type": "n8n-nodes-base.extractFromFile",
            "typeVersion": 1.1,
            "position": [-860, 300],
            "parameters": { "operation": "fromJson", "options": {} },
            "onError": "continueRegularOutput"
        },
        {
            "id": "b0000001-0000-0000-0000-000000000015",
            "name": "YouTube - End Broadcast",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-620, 300],
            "continueOnFail": true,
            "parameters": {
                "method": "POST",
                "url": "=https://www.googleapis.com/youtube/v3/liveBroadcasts/transition?broadcastStatus=complete&id={{ $node[\"Extract State for Stop\"].json.data.broadcastId }}&part=status",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleOAuth2Api",
                "options": { "timeout": 30000 }
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000016",
            "name": "Mark State Stopped",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [-380, 300],
            "parameters": {
                "jsCode": "const parsed = $node['Extract State for Stop'].json;\nconst state = { ...(parsed.data || parsed) };\n\nstate.isActive = false;\nstate.stoppedAt = new Date().toISOString();\n\nreturn [{ json: state }];"
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000028",
            "name": "Stopped State to File",
            "type": "n8n-nodes-base.convertToFile",
            "typeVersion": 1.1,
            "position": [-140, 300],
            "parameters": {
                "operation": "toJson",
                "options": { "format": true, "fileName": "state.json" }
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000029",
            "name": "Write Stopped State",
            "type": "n8n-nodes-base.readWriteFile",
            "typeVersion": 1.1,
            "position": [100, 300],
            "parameters": {
                "operation": "write",
                "fileName": "/home/node/.n8n-files/music-stream/state.json",
                "options": {}
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000017",
            "name": "Respond - Stop Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [340, 300],
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ status: 'success', message: 'Stream stopped', broadcastId: $node['Mark State Stopped'].json.broadcastId }) }}",
                "options": {}
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000018",
            "name": "Read State for Status",
            "type": "n8n-nodes-base.readWriteFile",
            "typeVersion": 1.1,
            "position": [-1100, 500],
            "parameters": {
                "fileSelector": "/home/node/.n8n-files/music-stream/state.json",
                "options": {}
            },
            "onError": "continueRegularOutput"
        },
        {
            "id": "b0000001-0000-0000-0000-000000000030",
            "name": "Parse State for Status",
            "type": "n8n-nodes-base.extractFromFile",
            "typeVersion": 1.1,
            "position": [-860, 500],
            "parameters": { "operation": "fromJson", "options": {} },
            "onError": "continueRegularOutput"
        },
        {
            "id": "b0000001-0000-0000-0000-000000000031",
            "name": "Build Status Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [-620, 500],
            "parameters": {
                "jsCode": "const parsed = $input.first().json;\nconst state = parsed.data || parsed || {};\n\nreturn [{ json: {\n  ...state,\n  checkedAt: new Date().toISOString()\n} }];"
            }
        },
        {
            "id": "b0000001-0000-0000-0000-000000000019",
            "name": "Respond - Status",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [-380, 500],
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {}
            }
        }
    ],
    "connections": {
        "Webhook - Stream Control": {
            "main": [[{ "node": "Route Action", "type": "main", "index": 0 }]]
        },
        "Route Action": {
            "main": [
                [{ "node": "YouTube - Create Broadcast", "type": "main", "index": 0 }],
                [{ "node": "Read State for Stop", "type": "main", "index": 0 }],
                [{ "node": "Read State for Status", "type": "main", "index": 0 }]
            ]
        },
        "YouTube - Create Broadcast": {
            "main": [[{ "node": "YouTube - Create Stream", "type": "main", "index": 0 }]]
        },
        "YouTube - Create Stream": {
            "main": [[{ "node": "YouTube - Bind Broadcast", "type": "main", "index": 0 }]]
        },
        "YouTube - Bind Broadcast": {
            "main": [[{ "node": "Build Stream State", "type": "main", "index": 0 }]]
        },
        "Build Stream State": {
            "main": [[{ "node": "State to JSON File", "type": "main", "index": 0 }]]
        },
        "State to JSON File": {
            "main": [[{ "node": "Write State File", "type": "main", "index": 0 }]]
        },
        "Write State File": {
            "main": [[{ "node": "Wait for Stream Connect", "type": "main", "index": 0 }]]
        },
        "Wait for Stream Connect": {
            "main": [[{ "node": "YouTube - Transition to Testing", "type": "main", "index": 0 }]]
        },
        "YouTube - Transition to Testing": {
            "main": [[{ "node": "Wait for Testing", "type": "main", "index": 0 }]]
        },
        "Wait for Testing": {
            "main": [[{ "node": "YouTube - Transition to Live", "type": "main", "index": 0 }]]
        },
        "YouTube - Transition to Live": {
            "main": [[{ "node": "Respond - Start Success", "type": "main", "index": 0 }]]
        },
        "Read State for Stop": {
            "main": [[{ "node": "Extract State for Stop", "type": "main", "index": 0 }]]
        },
        "Extract State for Stop": {
            "main": [[{ "node": "YouTube - End Broadcast", "type": "main", "index": 0 }]]
        },
        "YouTube - End Broadcast": {
            "main": [[{ "node": "Mark State Stopped", "type": "main", "index": 0 }]]
        },
        "Mark State Stopped": {
            "main": [[{ "node": "Stopped State to File", "type": "main", "index": 0 }]]
        },
        "Stopped State to File": {
            "main": [[{ "node": "Write Stopped State", "type": "main", "index": 0 }]]
        },
        "Write Stopped State": {
            "main": [[{ "node": "Respond - Stop Success", "type": "main", "index": 0 }]]
        },
        "Read State for Status": {
            "main": [[{ "node": "Parse State for Status", "type": "main", "index": 0 }]]
        },
        "Parse State for Status": {
            "main": [[{ "node": "Build Status Response", "type": "main", "index": 0 }]]
        },
        "Build Status Response": {
            "main": [[{ "node": "Respond - Status", "type": "main", "index": 0 }]]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner"
    },
    "pinData": {},
    "tags": [{ "name": "YouTube-ai-live-stream" }]
}
